/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: din-2014, sans-serif !important;
    font-style: normal;
}

nav {
    z-index: 1000;
}

.body-dark {
    color: #cdcdcd;
    background-color: #333333;
}

.body-yellow {
    background-color: #DBD3AD;
}

.body-green {
    background-color: #349090;
}

.body-homera {
    color: #fff;
    background-color: #2C3640;
}

.body-hendersons {
    color: #F7FFF7;
    background-color: #242423;
}

.body-together {
    color: #F7FFF7;
    background-color: #172A3A;
}

.together {
    background: #DBD3AD url(../images/bg-together.jpg) 50% 50% no-repeat;
    background-size: cover;    
}

.hendersons {
    background: #DBD3AD url(../images/bg-hendersons.jpg) 50% 50% no-repeat;
    background-size: cover;    
}

.jkh {
    background: #DBD3AD url(../images/jkh_header.jpg) 50% 50% no-repeat;
    background-size: cover;    
}


.title {
    background: #333333;
}

.header {
    background: #D9AF67 url(../images/owl_header2.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.display-1 {
    font-family: din-2014, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.display-2 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.display-3 {
    font-family: din-2014, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

.page-header {
    position: relative;
    min-height: 100vh;
}

.logo {
    width: 75px;
    margin: 0 auto;
    display: block;
}

.card {
    width: 100%;
    height: 100%;
    min-height: 350px;
    display: block;
    color: #333333;
    border-radius: 0.5rem;

    display: flex;
    align-items: flex-end;    
}

.card .work-title h1 {
    font-family: questa-grande, serif;
    font-weight: 400;
    font-weight: bold;

    margin-bottom: 0;
}

.card .work-title {
    padding: 1rem;
    width: 100%;
    margin-bottom: 0;
}

.card.homera {
    background: url(../images/work_homera_thumb.png) 50% no-repeat;
}

.card.hendersons {
    background:  url(../images/work_hendersons_thumb.png) 50% no-repeat;
}

.card.together {
    background:  url(../images/work_together_thumb.png) 50% no-repeat;
}

.card.just {
    background:  url(../images/jkh_header.jpg) 50% no-repeat;
    background-blend-mode: lighten;
}

.card.snowspeeder {
    background:  url(../images/work-snowspeeder.png) 50% no-repeat;
    background-blend-mode: lighten;
}

input {
    border-radius: 0.375rem;
}





footer {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3rem;
}

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }

@layer components {
    .btn-red {
        @apply py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .section {
        @apply py-24 px-5 text-gray-500;
    }
    .section-testimonial {
        @apply bg-owlgreen text-owlwhite;
    }    
    .section-white {
        @apply bg-owlwhite text-owlgreen;
    }  

    .section-gray {
        @apply bg-owlgray text-owlgreen;
    }      
  }  


/* RESPONSIVE CSS
-------------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .logo {
        width: 80px;
    }

    .floating-text {
        display:none;
    }    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
 
    .slide-content {
        width: 80%;
    }
 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
 
    .floating-text {
        display:none;
    }   

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
 
 
}


@media (min-width: 40em) {


.featurette-heading {
 font-size: 50px;
}  
 
} 

@media (min-width: 62em) {

}  